/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator */
@use './_colors.scss';
@use './_fonts.scss';
@use './space.scss';
@use './topography.scss' as fs;

.social-proof {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  margin-inline: auto;
  margin-block-start: space.$social-proof-t-margin;
  margin-block-end: 100px;


  @media only screen and (min-width: 780px) {
    max-width: 1110px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-end: space.$social-proof-header-b-margin;
    gap: 39px;

    @media only screen and (min-width: 780px) {
      flex-direction: row;
      justify-content: space-between;

      &>* {
        flex: calc(50% - 39px);
      }
    }

    &-right {
      align-self: flex-start;
      max-inline-size: 435px;
      text-align: center;

      @media only screen and (min-width: 780px) {
        text-align: left;
      }

      &-title {
        font-weight: 700;
        font-size: fs.$page-heading;
        line-height: 0.8;
        letter-spacing: -1.42857px;
        margin-block-end: 16px;

        @media screen and (min-width: 780px) {
          line-height: 0.9172;
          letter-spacing: -2px;
        }
      }

      &-text {
        font-weight: 500;
        font-size: 19px;
        line-height: 25px;
        letter-spacing: -0.633333px;
        color: colors.$dark-grayish-magenta;
      }
    }

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      width: 100%;
      max-width: 540px;


      @media only screen and (min-width: 780px) {
        align-items: flex-start;
      }

      &-rating {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 100%;
        max-width: 445px;
        text-align: center;
        font-weight: 700;
        font-size: 17px;
        line-height: 16px;
        padding: 16px;
        border-radius: 8px;
        background-color: colors.$light-grayish-magenta;

        @media only screen and (min-width: 780px) {
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding-block: 20px;
          padding-inline: 32px;
          text-align: left;

          &.report {
            align-self: center;
          }

          &.besttech {
            align-self: flex-end;
          }
        }



        &-img {
          display: block;
          width: 116px;
          height: auto;
        }
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: space.$card-col-gap;
    min-height: 266px;


    @media only screen and (min-width: 780px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      &>* {
        flex-basis: calc((100% - (2 * space.$card-col-gap)) / 3);
      }
    }

    &-card {
      padding: 40px 32px 35px 32px;
      background-color: colors.$very-dark-magenta;
      color: colors.$white;
      border-radius: 8px;

      &:nth-child(2) {
        align-self: center;
      }

      &:nth-child(3) {
        align-self: flex-end;
      }
    }
  }

  &__card-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 23px;
    margin-block-end: space.$card-header-b-margin;

    &-img {
      display: block;
      width: 40px;
      height: auto;
    }

    &-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 4px;
      font-weight: 700;
      font-size: 17px;
      line-height: 16px;

      &-title {
        color: colors.$soft-pink;
      }
    }
  }

  &__card-body {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.303571px;
  }
}