$social-proof-header-b-margin: clamp(3.06rem, calc(2.58rem + 2.07vw), 4.44rem); // 49px to 70px
$social-proof-t-margin: clamp(5.13rem, calc(4.33rem + 3.38vw), 7.38rem); // 82px to 118px
$card-col-gap: clamp(1.00rem, calc(0.00rem + 2.08vw), 1.88rem); // 16px to 30px
$card-header-b-margin: clamp(1.44rem, calc(1.26rem + 0.75vw), 1.94rem); // 23px to 31px